*{
    margin: 0;
    padding: 0;
}

#container{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#header{
    padding: 10px;
    margin: 10px;
}

#logo{
    margin-bottom: 30px;
}

#heading{
    margin: 16px;
}

#para{
    color: lightslategray;
    font-weight: lighter;
}

#user{
    margin-bottom: 30px;
}

#mail{
    padding: 10px;
    outline: none;
    border-color: white;
    border-radius: 40px;
}

#btn{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(77, 77, 243);
    color: white;
    width: 100px;
}

#footer{
    padding: 10px;
}

#social-icons{
    color: rgb(77, 77, 243);
    font-size: 20px;
}

#icon{
    margin: 20px;
}

#footer-line{
    color: lightslategray;
}