body{
    margin: 0;
    padding: 0;
    background-color: rgb(5, 5, 53);
}
#container{
    background-image: url('./images/bg-desktop.png');
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 549px;
}

#box{
    display: flex;
    flex-direction: row;
    padding: 10px auto;
    margin: 15% auto;
    justify-content: center;
    align-items: center;
}

#main{
    margin: 20px;
    padding: 20px;
    background-color: rgb(34, 34, 131);
    border-radius:13px ;
    border-top-right-radius: 100px;
}

#logo{
    margin: 20px;
    float: left;
    padding-right: 60px;
}

#img{
    background-color: rgb(0, 0, 0, .5);
    padding: 8px;
    margin: 2px;
    border-radius: 7px;
}

#second{
    margin: 20px;
    padding: 15px;
    background-color: rgb(34, 34, 131);
    border-radius: 20px;
    width: 30%;
}

#heading{
    color: white;
}

#filler{
    background-color: rgb(0, 0, 0, .5);
    border-radius: 8px;
    height: 15px;
    padding: 1px;
    width: 100%;
}

#color{
    background-color: rgb(248, 69, 99);
    width: 70%;
    height: 15px;
    border-radius: 8px;
}

#btns{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-between;
    color: grey;
}