* {
  margin: 0;
  padding: 0;
}

#container {
  margin: 0;
  padding: 120px;
  /* border: 1px solid black; */
  background-image: url(./images/bg-intro-desktop.png);
  display: flex;
  flex-direction: row;
  background-color: rgb(248, 114, 114);
}

#content {
  /* border: 1px solid black; */
  margin: 20px;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#heading {
  font-weight: bold;
  font-size: 80px;
  display: flex;
}
.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
#para {
  font-size: 20px;
  display: flex;
  margin-top: 50px;
}

#second-container {
  /* border: 1px solid black; */
  width: 1000px;
  /* margin-left: 50px; */
}

#form-heading {
  background-color: rgb(69, 69, 116);
  border-radius: 10px;
  color: rgb(231, 227, 227);
  padding: 30px;
  margin: 20px;
}

#form {
  background-color: white;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

#firstname,
#lastname,
#email,
#pwd {
  outline: none;
  /* border: none; */
  border-color: lightgrey;
  padding: 15px;
  color: black;
  font-size: 18px;
  margin: 10px auto;
  border-radius: 10px;
  width: 300px;
}

#firstname:focus,
#lastname:focus,
#email:focus,
#pwd:focus {
  border-color: white;
}

#btn {
  padding: 10px;
  color: white;
  background-color: lightgreen;
  border: none;
  cursor: pointer;
  margin: 10px;
  width: 300px;
  border-radius: 10px;
}

#btn:focus {
  background-color: green;
}

#bottom_line {
  font-size: 12px;
}
